<form class="form-spacer">
    <div class="row">
      <div class="col">
        <div class="custom-control custom-checkbox mb-3">
          <input type="checkbox" class="custom-control-input" id="b2bAddress">
          <label class="custom-control-label" for="b2bAddress">Juridinis asmuo</label>
        </div>
        <div class="b2bAddress">
          <input type="text" class="form-control form-control--grey mb-3" placeholder="Įmonės pavadinimas">
          <input type="text" class="form-control form-control--grey mb-3" placeholder="Įmonės kodas">
          <input type="text" class="form-control form-control--grey mb-3" placeholder="PVM kodas">
        </div>
        <input type="text" class="form-control form-control--grey mb-3" placeholder="Vardas Pavardė">
        <input type="tel" class="form-control form-control--grey mb-3" placeholder="Telefonas">
        <input type="text" class="form-control form-control--grey mb-3" placeholder="Adresas (Gatvė, namo numeris)">

        <select class="form-control form-control--grey mb-3" id="countrySelect">
          <option selected>Lietuva</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
        </select>
        <div class="row">
          <div class="col">
            <input type="text" class="form-control form-control--grey mb-3" placeholder="Miestas">
          </div>
          <div class="col">
            <input type="text" class="form-control form-control--grey mb-3" placeholder="Pašto kodas">
          </div>
        </div>   
        <textarea class="form-control form-control--grey mb-3" rows="4" placeholder="Papildoma informacija"></textarea>              
      </div>
    </div> 
    <div class="row form-footer">
      <div class="col">
        <button type="submit" class="btn btn-success">Išsaugoti</button>
      </div>
    </div>
  </form>