<section class="container-fluid banners spacer">
    <div class="row justify-content-center">
        <a href="gifts.html" title="..." class="col-lg-4 mb-3">
            <picture>
            <img src="{{root}}assets/img/banner1.png" alt="..." title="..." class="img-fluid">
            </picture>
        </a>
        <a href="subscription.html" title="..." class="col-lg-4 mb-3">
            <picture>
            <img src="{{root}}assets/img/banner2.png" alt="..." title="..." class="img-fluid">
            </picture>
        </a>
        <a href="#" title="..." class="col-lg-4 mb-3">
            <picture>
            <img src="{{root}}assets/img/banner3.png" alt="..." title="..." class="img-fluid">
            </picture>
        </a>

    </div>
</section>