<section class="section-brands container-fluid spacer">
  <div class="swiper-container swiper-brands">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <a href="brand.html" title="...">
          <img class="img-fluid" alt="..." title="..." src="{{root}}assets/img/Dr.png">
        </a>
      </div>
      <div class="swiper-slide">
        <a href="brand.html" title="...">
          <img class="img-fluid" alt="..." title="..." src="{{root}}assets/img/anju.png">
        </a>
      </div>
      <div class="swiper-slide">
        <a href="brand.html" title="...">
          <img class="img-fluid" alt="..." title="..." src="{{root}}assets/img/hami.png">
        </a>
      </div>
      <div class="swiper-slide">
        <a href="brand.html" title="...">
          <img class="img-fluid" alt="..." title="..." src="{{root}}assets/img/pro-nutrition.png">
        </a>
      </div>
      <div class="swiper-slide">
        <a href="brand.html" title="...">
          <img class="img-fluid" alt="..." title="..." src="{{root}}assets/img/Heel_logo.png">
        </a>
      </div>
      <div class="swiper-slide">
        <a href="brand.html" title="...">
          <img class="img-fluid" alt="..." title="..." src="{{root}}assets/img/ceva.png">
        </a>
      </div>
      <div class="swiper-slide">
        <a href="brand.html" title="...">
          <img class="img-fluid" alt="..." title="..." src="{{root}}assets/img/Inuvet.png">
        </a>
      </div>
    </div>
    <div class="swiper-pagination"></div>
  </div>
</section>
