
          <!-- <table class="table table-borderless table-shopping-cart border-bottom">
            <thead class="text-muted">
              <div class="small">
                <div class="col-5">Prekė</div>
                <div class="col">Kiekis</div>
                <div class="col">Vnt. kaina</div>
                <div class="col">Suma</div>
                <div class="class text-right col-1"> </div>
              </div>
            </thead>
            <tbody>
              <tr>
                <td>
                  <div class="media">
                    <img src="{{root}}assets/img/preke1.png" class="align-self-start mr-3 img-sm" alt="...">
                    <div class="media-body">
                      <a href="product.html" title="...">
                        <h5 class="mt-0">Kačių maistas Brit Care Cat Daisy Weight 2kg</h5>
                      </a>
                      <div class="reference">Prekės kodas: 2217</div>
                    </div>
                  </div>
                </td>
                <td>
                  <div class="form-group">
                    <div class="input-group mb-3 input-spinner">
                      <div class="input-group-prepend">
                        <button class="btn btn-light" type="button" id="button-minus"> − </button>

                      </div>
                      <input type="text" class="form-control" value="1">
                      <div class="input-group-append">
                        <button class="btn btn-light" type="button" id="button-plus"> + </button>
                      </div>
                    </div>
                  </div>
                </td>
                <td>
                  <div class="price-wrap">
                    <div class="price">$1156.00</div>
                    <small class="old-price"> $315.20 </small>
                  </div> 
                </td>
                <td>
                  <div class="price-wrap">
                    <div class="price">$1156.00</div>

                  </div> 
                </td>
                <td class="text-right">
                  <a href="#" class="btn" title="Remove"><i class="fas fa-times"></i></a>
                </td>
              </tr>
              <tr>
                <td>
                  <div class="media">
                    <img src="{{root}}assets/img/preke1.png" class="align-self-start mr-3 img-sm" alt="...">
                    <div class="media-body">
                      <a href="product.html" title="...">
                        <h5 class="mt-0">Kačių maistas Brit Care Cat Daisy Weight 2kg</h5>
                      </a>
                      <div class="reference">Prekės kodas: 2217</div>
                    </div>
                  </div>
                </td>
                <td>
                  <div class="form-group">
                    <div class="input-group mb-3 input-spinner">
                      <div class="input-group-prepend">
                        <button class="btn btn-light" type="button" id="button-minus"> − </button>

                      </div>
                      <input type="text" class="form-control" value="1">
                      <div class="input-group-append">
                        <button class="btn btn-light" type="button" id="button-plus"> + </button>
                      </div>
                    </div>
                  </div>
                </td>
                <td>
                  <div class="price-wrap">
                    <div class="price">$1156.00</div>
                    <small class="old-price"> $315.20 </small>
                  </div>
                </td>
                <td>
                  <div class="price-wrap">
                    <div class="price">$1156.00</div>

                  </div> 
                </td>
                <td class="text-right">
                  <a href="#" class="btn" title="Remove"><i class="fas fa-times"></i></a>
                </td>
              </tr>
              <tr>
                <td>
                  <div class="media">
                    <img src="{{root}}assets/img/preke1.png" class="align-self-start mr-3 img-sm" alt="...">
                    <div class="media-body">
                      <a href="product.html" title="...">
                        <h5 class="mt-0">Kačių maistas Brit Care Cat Daisy Weight 2kg</h5>
                      </a>
                      <div class="reference">Prekės kodas: 2217</div>
                    </div>
                  </div>
                </td>
                <td>
                  <div class="form-group">
                    <div class="input-group mb-3 input-spinner">
                      <div class="input-group-prepend">
                        <button class="btn btn-light" type="button" id="button-minus"> − </button>

                      </div>
                      <input type="text" class="form-control" value="1">
                      <div class="input-group-append">
                        <button class="btn btn-light" type="button" id="button-plus"> + </button>
                      </div>
                    </div>
                  </div>
                </td>
                <td>
                  <div class="price-wrap">
                    <div class="price">$1156.00</div>
                    <small class="old-price"> $315.20 </small>
                  </div> 
                </td>
                <td>
                  <div class="price-wrap">
                    <div class="price">$1156.00</div>

                  </div> 
                </td>
                <td class="text-right">
                  <a href="#" class="btn" title="Remove"><i class="fas fa-times"></i></a>
                </td>
              </tr>
              <tr>
                <td>
                  <div class="media">
                    <img src="{{root}}assets/img/preke1.png" class="align-self-start mr-3 img-sm" alt="...">
                    <div class="media-body">
                      <a href="product.html" title="...">
                        <h5 class="mt-0">Kačių maistas Brit Care Cat Daisy Weight 2kg</h5>
                      </a>
                      <div class="reference">Prekės kodas: 2217</div>
                    </div>
                  </div>
                </td>
                <td>
                  <div class="form-group">
                    <div class="input-group mb-3 input-spinner">
                      <div class="input-group-prepend">
                        <button class="btn btn-light" type="button" id="button-minus"> − </button>

                      </div>
                      <input type="text" class="form-control" value="1">
                      <div class="input-group-append">
                        <button class="btn btn-light" type="button" id="button-plus"> + </button>
                      </div>
                    </div>
                  </div>
                </td>
                <td>
                  <div class="price-wrap">
                    <div class="price">$1156.00</div>
                    <small class="old-price"> $315.20 </small>
                  </div> 
                </td>
                <td>
                  <div class="price-wrap">
                    <div class="price">$1156.00</div>

                  </div> 
                </td>
                <td class="text-right">
                  <a href="#" class="btn" title="Remove"><i class="fas fa-times"></i></a>
                </td>
              </tr>

            </tbody>
          </table> -->
