<div class="cart-total border-top border-bottom py-3 mt-3">
    <div class="row">
      <div class="col-6 col-md-7 col-xl-8">Suma be PVM</div>
      <div class="col-6 col-md-5 col-xl-4">687.89 €</div>
    </div>
    <div class="row">
      <div class="col-6 col-md-7 col-xl-8">PVM 21%</div>
      <div class="col-6 col-md-5 col-xl-4">2.53 €</div>
    </div>
    <div class="row">
      <div class="col-6 col-md-7 col-xl-8">Pritaikytos nuolaidos</div>
      <div class="col-6 col-md-5 col-xl-4">-0.19 €</div>
    </div>
    <div class="row">
        <div class="col-6 col-md-7 col-xl-8">Pristatymas</div>
        <div class="col-6 col-md-5 col-xl-4">Nemokamas</div>
      </div>
    <div class="row">
      <div class="col-6 col-md-7 col-xl-8">Tarpinė suma</div>
      <div class="col-6 col-md-5 col-xl-4">7928.00 €</div>
    </div>
</div>