<ul class="nav nav-pills nav-fill my-5">
    <li class="nav-item">
        <a class="nav-link active" href="#"><span class="d-md-none">1</span><span class="d-none d-md-block">Peržiūra</span></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#"><span class="d-md-none">2</span><span class="d-none d-md-block">Prisijungimas</span></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#"><span class="d-md-none">3</span><span class="d-none d-md-block">Pristatymas</span></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#"><span class="d-md-none">4</span><span class="d-none d-md-block">Adresas</span></a>
    </li>
    <li class="nav-item">
        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true"><span class="d-md-none">5</span><span class="d-none d-md-block">Apmokėjimas</span></a>
    </li>
</ul>