<div class="container-fluid categories-list-wrapper">
<ul class="row categories-list list-unstyled">
  <li class="col-lg-4 is-active current">
    <a href="category.html" class="categories-list--item" title="...">    
      <div class="res-circle">
          <h2 class="circle-txt">produktai šunims</h2>
      </div>
      <img src="{{root}}assets/img/suo.png" class="img-80" alt="...">
    </a>
  </li>
  <li class="col-lg-4">
  <a href="category.html" class="categories-list--item" title="...">
    <div class="res-circle">
      <h2 class="circle-txt">produktai katėmis</h2>
    </div>
    <img src="{{root}}assets/img/katins.png" class="img-80" alt="...">
  </a>
</li>
<li class="col-lg-4">
  <a href="category.html" class="categories-list--item" title="...">
    <div class="res-circle">
        <h2 class="circle-txt">produktai kitiems</h2>
    </div>
    <img src="{{root}}assets/img/seskas.png" class="img-80" alt="...">
  </a>
  </li>
  <div id="marker"></div>
</ul>
</div>