<a class="btn btn-block filter-btn d-lg-none" data-toggle="collapse" href="#collapseFilters" role="button" aria-expanded="false" aria-controls="collapseFilters">
Filtras
</a>
<div class="card collapse" id="collapseFilters">
  <article class="filter-group">
    <header class="card-header">
      <a href="#" data-toggle="collapse" data-target="#collapse_1" aria-expanded="true">
        <i class="icon-control fa"></i>
        <h6 class="title">Maisto tipas</h6>
      </a>
    </header>
    <div class="filter-content collapse show" id="collapse_1">
      <div class="card-body">
        <label class="custom-control custom-checkbox">
          <input type="checkbox" checked="" class="custom-control-input">
          <div class="custom-control-label">Sausas maistas
            <b class="badge badge-pill badge-light float-right">120</b> </div>
        </label>
        <label class="custom-control custom-checkbox">
          <input type="checkbox" checked="" class="custom-control-input">
          <div class="custom-control-label">Konservai
            <b class="badge badge-pill badge-light float-right">15</b> </div>
        </label>
        <label class="custom-control custom-checkbox">
          <input type="checkbox" checked="" class="custom-control-input">
          <div class="custom-control-label">Pieno pakaitalai
            <b class="badge badge-pill badge-light float-right">35</b> </div>
        </label>
        <label class="custom-control custom-checkbox">
          <input type="checkbox" checked="" class="custom-control-input">
          <div class="custom-control-label">Skanėstai
            <b class="badge badge-pill badge-light float-right">89</b> </div>
        </label>

      </div> <!-- card-body.// -->
    </div>
  </article> <!-- filter-group  .// -->
  <article class="filter-group">
    <header class="card-header">
      <a href="#" data-toggle="collapse" data-target="#collapse_2" aria-expanded="true">
        <i class="icon-control fa"></i>
        <h6 class="title">Prekės ženklas </h6>
      </a>
    </header>
    <div class="filter-content collapse show" id="collapse_2">
      <div class="card-body">
        <label class="custom-control custom-checkbox">
          <input type="checkbox" checked="" class="custom-control-input">
          <div class="custom-control-label">Mercedes
            <b class="badge badge-pill badge-light float-right">120</b> </div>
        </label>
        <label class="custom-control custom-checkbox">
          <input type="checkbox" checked="" class="custom-control-input">
          <div class="custom-control-label">Toyota
            <b class="badge badge-pill badge-light float-right">15</b> </div>
        </label>
        <label class="custom-control custom-checkbox">
          <input type="checkbox" checked="" class="custom-control-input">
          <div class="custom-control-label">Mitsubishi
            <b class="badge badge-pill badge-light float-right">35</b> </div>
        </label>
        <label class="custom-control custom-checkbox">
          <input type="checkbox" checked="" class="custom-control-input">
          <div class="custom-control-label">Nissan
            <b class="badge badge-pill badge-light float-right">89</b> </div>
        </label>
        <label class="custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input">
          <div class="custom-control-label">Honda
            <b class="badge badge-pill badge-light float-right">30</b> </div>
        </label>
      </div> <!-- card-body.// -->
    </div>
  </article> <!-- filter-group .// -->
  <article class="filter-group">
    <header class="card-header">
      <a href="#" data-toggle="collapse" data-target="#collapse_3" aria-expanded="true">
        <i class="icon-control fa"></i>
        <h6 class="title">Kaina </h6>
      </a>
    </header>
    <div class="filter-content collapse show" id="collapse_3">
      <div class="card-body">
        <input type="range" class="custom-range" min="0" max="100" name="">
        <div class="form-row">
          <div class="form-group col-md-6">
            <label>Min</label>
            <input class="form-control" placeholder="0 €" type="number">
          </div>
          <div class="form-group text-right col-md-6">
            <label>Max</label>
            <input class="form-control" placeholder="1,0000 €" type="number">
          </div>
        </div> <!-- form-row.// -->
        <button class="btn btn-block btn-primary">Taikyti</button>
      </div><!-- card-body.// -->
    </div>
  </article> <!-- filter-group .// -->
  <article class="filter-group">
    <header class="card-header">
      <a href="#" data-toggle="collapse" data-target="#collapse_4" aria-expanded="true">
        <i class="icon-control fa"></i>
        <h6 class="title">Sizes </h6>
      </a>
    </header>
    <div class="filter-content collapse show" id="collapse_4">
      <div class="card-body">
        <label class="checkbox-btn">
          <input type="checkbox">
          <span class="btn btn-light"> XS </span>
        </label>

        <label class="checkbox-btn">
          <input type="checkbox">
          <span class="btn btn-light"> SM </span>
        </label>

        <label class="checkbox-btn">
          <input type="checkbox">
          <span class="btn btn-light"> LG </span>
        </label>

        <label class="checkbox-btn">
          <input type="checkbox">
          <span class="btn btn-light"> XXL </span>
        </label>
      </div><!-- card-body.// -->
    </div>
  </article> <!-- filter-group .// -->
  <article class="filter-group">
    <header class="card-header">
      <a href="#" data-toggle="collapse" data-target="#collapse_5" aria-expanded="false">
        <i class="icon-control fa"></i>
        <h6 class="title">More filter </h6>
      </a>
    </header>
    <div class="filter-content collapse in" id="collapse_5">
      <div class="card-body">
        <label class="custom-control custom-radio">
          <input type="radio" name="myfilter_radio" checked="" class="custom-control-input">
          <div class="custom-control-label">Any condition</div>
        </label>

        <label class="custom-control custom-radio">
          <input type="radio" name="myfilter_radio" class="custom-control-input">
          <div class="custom-control-label">Brand new </div>
        </label>

        <label class="custom-control custom-radio">
          <input type="radio" name="myfilter_radio" class="custom-control-input">
          <div class="custom-control-label">Used items</div>
        </label>

        <label class="custom-control custom-radio">
          <input type="radio" name="myfilter_radio" class="custom-control-input">
          <div class="custom-control-label">Very old</div>
        </label>
      </div><!-- card-body.// -->
    </div>
  </article> <!-- filter-group .// -->
  <a class="btn btn-primary d-lg-none my-5" data-toggle="collapse" href="#collapseFilters" role="button" aria-expanded="false" aria-controls="collapseFilters">
      Filtruoti
    </a>
    <a class="btn my-5 btn-light" href="#">
      <i class="fas fa-times mr-1"></i>Išvalyti filtrus
    </a>
</div> <!-- card.// -->
