<footer class="footer pt-5 pb-5">
  <div class="container-fluid">
    <div class="row my-5">
      <div class="col-xl-3 col-md-6 offset-xl-1 col-lg-4">
        <form class="news-form">
          <h3 class="section-title">Naujienų prenumerata</h3>
          <div class="input-group mb-3">
            <input type="email" id="news-email" class="form-control" placeholder="El. pašto adresas"
              aria-label="Recipient's username" aria-describedby="news-button">
            <div class="input-group-append">
              <button class="btn" type="submit" id="news-button">
                <i class="fas fa-arrow-right"></i>
              </button>
            </div>
          </div>
          <!-- <small class="form-text">Check our privacy policy. for more info on how we collect and process
            information.</small> -->
            <div class="form-group form-check custom-checkbox">
              <input type="checkbox" class="form-check-input custom-control-input" id="news-form--check" required>
              <label class="form-check-label custom-control-label" for="news-form--check">Sutinku su privatumo politika. Susipažinti galite <a href="privacy.html" target="_blank" title="privatumo politika">čia</a>.</label>
            </div>
        </form>
      </div>
      <div class="col-md-6 offset-xl-2 offset-lg-1 col-lg-7 col-xl-6">
        <div class="row">
          <div class="col-md-6">
            <ul class="nav flex-column footer-menu">
              <li class="nav-item">
                <a href="category.html" title="Maistas" class="nav-link">Maistas</a>
              </li>
              <li class="nav-item">
                <a href="category.html" title="Sveikata ir priežiūra" class="nav-link">Sveikata ir priežiūra</a>
              </li>
              <li class="nav-item">
                <a href="category.html" title="Namai ir laisvalaikis" class="nav-link">Namai ir laisvalaikis</a>
              </li>
            </ul>
          </div>
          <div class="col-md-6">

            <ul class="nav flex-column footer-menu">
              <li class="nav-item">
                <a href="delivery.html" title="Pristatymas" class="nav-link">Pristatymas</a>
              </li>
              <li class="nav-item">
                <a href="returns.html" title="Grąžinimas ir garantija" class="nav-link">Grąžinimas ir garantija</a>
              </li>
              <li class="nav-item">
                <a href="payment.html" title="Atsiskaitymas" class="nav-link">Atsiskaitymas</a>
              </li>
            </ul>
          </div>
        </div>

        <ul class="footer-menu--secondary list-unstyled">
          <li>
            <a href="about.html" title="Apie mus">Apie mus</a>
          </li>
          <li>
            <a href="contact.html" title="Kontaktai">Kontaktai</a>
          </li>
          <li>
            <a href="privacy.html" title="Privatumo politika">Privatumo politika</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="pt-5 border-top mx-3 footer-logo">
      <ul class="align-items-center row justify-content-between list-unstyled text-center">
        <li class="col-lg col-md-3 col-6 mb-3"><img src="{{root}}assets/img/luminor.png" alt="..." title="..." class="img-fluid"></li>
        <li class="col-lg col-md-3 col-6 mb-3"><img src="{{root}}assets/img/seb-bankas.png" alt="..." title="..." class="img-fluid"></li>
        <li class="col-lg col-md-3 col-6 mb-3"><img src="{{root}}assets/img/swedbank.png" alt="..." title="..." class="img-fluid"></li>
        <li class="col-lg col-md-3 col-6 mb-3"><img src="{{root}}assets/img/siauliu-bankas.png" alt="..." title="..." class="img-fluid"></li>
        <!-- <li class="col-lg col-md-3 col-6 mb-3"><img src="{{root}}assets/img/MOQ-logo.png" alt="..." title="..." class="img-fluid"></li> -->
        <li class="col-lg col-md-3 col-6 mb-3"><img src="{{root}}assets/img/paysera.png" alt="..." title="..." class="img-fluid"></li>
        <li class="col-lg col-md-3 col-6 mb-3"><img src="{{root}}assets/img/omniva-logo.png" alt="..." title="..." class="img-fluid"></li>
        <li class="col-lg col-md-3 col-6 mb-3"><img src="{{root}}assets/img/dpd.png" alt="..." title="..." class="img-fluid"></li>
        <li class="col-lg col-md-3 col-6 mb-3"><img src="{{root}}assets/img/visa.png" alt="..." title="..." class="img-fluid"></li>
        <li class="col-lg col-md-3 col-6 mb-3"><img src="{{root}}assets/img/mastercard.png" alt="..." title="..." class="img-fluid"></li>
      </ul>
    </div>
  </div>
  <div class="container text-center mt-5">
    <p class="credits small">
      <a href="https://adisoft.lt/" rel="noopener" target="_blank" class="text-secondary">
        sprendimas: Adisoft
      </a>
    </p>
  </div>
</footer>
<!-- build:js -->
<script src="{{root}}assets/vendor/js/jquery.js"></script>
<script src="{{root}}assets/vendor/js/popper.js"></script>
<script src="{{root}}assets/vendor/js/bootstrap.js"></script>
<script src="{{root}}assets/vendor/js/swiper.min.js"></script>
<script src="{{root}}assets/vendor/js/modernizr.js"></script>
<script src="{{root}}assets/js/custom.js"></script>
<!-- endbuild -->
