<h2 class="darker-grey ml-3 ml-md-5 mt-3 title">Panašios prekės</h2>
<div class="swiper-container swiper-related related-products">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <div class="product-card">
            <a href="product.html" title="..." class="favorites-img-wrapper">
              <img data-src="{{root}}assets/img/preke1.png" class="swiper-lazy">
              <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
            </a>
            <a href="product.html" class="product-name" title="...">Kačių maistas Brit Care Cat Daisy Weight 2kg.</a>
            <div class="product-price">8.19 €</div>
            <a href="#" class="btn btn-add-to-cart btn-default" title="į krepšelį">
              į krepšelį
            </a>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="product-card">
          <a href="product.html" title="..." class="favorites-img-wrapper">
            <img data-src="{{root}}assets/img/preke2.png" class="swiper-lazy">
            <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
          </a>
            <a href="product.html" class="product-name" title="...">Monge Fresh konservai su antiena 100gr</a>
            <div class="product-price">218.19 €</div>
            <a href="#" class="btn btn-add-to-cart btn-default" title="į krepšelį">
              į krepšelį
            </a>
        </div>
      </div>
      <div class="swiper-slide">
              <div class="product-card">
                <a href="product.html" title="..." class="favorites-img-wrapper">
                  <img data-src="{{root}}assets/img/preke1.png" class="swiper-lazy">
                  <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
                </a>
                  <a href="product.html" class="product-name" title="...">Kačių maistas Brit Care Cat Daisy Weight 2kg.</a>
                  <div class="product-price">8.19 €</div>
                  <a href="#" class="btn btn-add-to-cart btn-default" title="į krepšelį">
                    į krepšelį
                  </a>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="product-card">
                <a href="product.html" title="..." class="favorites-img-wrapper">
                  <img data-src="{{root}}assets/img/preke2.png" class="swiper-lazy">
                  <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
                </a>
                  <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
                  <a href="product.html" class="product-name" title="...">Monge Fresh konservai su antiena 100gr</a>
                  <div class="product-price">218.19 €</div>
                  <a href="#" class="btn btn-add-to-cart btn-default" title="į krepšelį">
                    į krepšelį
                  </a>
              </div>
            </div>
            <div class="swiper-slide">
                  <div class="product-card">
                    <a href="product.html" title="..." class="favorites-img-wrapper">
                      <img data-src="{{root}}assets/img/preke1.png" class="swiper-lazy">
                      <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
                    </a>
                      <a href="product.html" class="product-name" title="...">Kačių maistas Brit Care Cat Daisy Weight 2kg.</a>
                      <div class="product-price">8.19 €</div>
                      <a href="#" class="btn btn-add-to-cart btn-default" title="į krepšelį">
                        į krepšelį
                      </a>
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="product-card">
                    <a href="product.html" title="..." class="favorites-img-wrapper">
                      <img data-src="{{root}}assets/img/preke1.png" class="swiper-lazy">
                      <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
                    </a>
                      <a href="product.html" class="product-name" title="...">Monge Fresh konservai su antiena 100gr</a>
                      <div class="product-price">218.19 €</div>
                      <a href="#" class="btn btn-add-to-cart btn-default" title="į krepšelį">
                        į krepšelį
                      </a>
                  </div>
                </div>
    </div>
     <div class="swiper-button-next"></div>
     <div class="swiper-button-prev"></div>
  </div>