// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------
.section-home {
  background-color: $primary;
  color: $white;
  min-height: 50vh;
  margin-bottom: 3rem;

  h1 {
    padding-top: 1em;
    font-weight: bold;
    line-height: 1.25;
    letter-spacing: -0.04em;
    margin-bottom: .5em;
    font-size: 30px;
    width: 75%;
    @include media-breakpoint-up(lg) {
      font-size: 50px;
      width: 50%;
    }
  }
}

.banners {
  a {
    // background-color: $light-grey;
    // display: block;
    // width: 100%;
    // min-height: 420px;
    // margin-bottom: 30px;
    // padding: 1.85714286em;
    // text-align: center;
    // position: relative;
    // background-size: cover;
    // background-repeat: no-repeat;

    @include on-event {
      text-decoration: none;
      
      img {
        box-shadow: $box-shadow-sm;
      }
    }
  }
  img {
    width: 100%;
  }

  h3 {
    @include absolute-center;
    position: absolute;

    @include media-breakpoint-down(md) {
      font-size: 20px;
    }
  }
}

@include media-breakpoint-up(lg) {
  #marker {
    $duration: .3s;
    position: absolute;
    display: none;
    background-color: $white;
    border-radius: 50%;
    transition: width $duration, left $duration;
    // bottom: -50%;
    top: 25%;
    transform: translateY(25%);
  }

  .categories-list {
    align-items: flex-end;
    margin-bottom: 15%;
    position: relative;

    li {
      // margin-bottom: -25%;
      margin-bottom: -5rem;
    }
  }

  .categories-list--item {
    padding-top: 25%;

    >* {
      z-index: 2;
      position: relative;
    }

    //   &:after {
    //     position: absolute;
    //     background-color: #fff;
    //     width: 100%;
    //     height: 100%;
    //     content: "";
    //     border-radius: 50%;
    //     left: 0;
    //     top: 0;
    //     z-index: 1;
    // }
    .res-circle {
      z-index: 3;
      top: -30%;
      opacity: 0;
      position: absolute;
      background: $green;
    }

    h2 {
      font-weight: bold;
      font-size: 20px;
      line-height: 109%;
      /* or 22px */
      text-align: center;
      letter-spacing: -0.04em;
      margin-bottom: 0;
      color: $white;
    }

    @include on-event {
      .res-circle {
        opacity: 1;
      }
    }
  }

  .res-circle {
    width: 40%;
    border-radius: 50%;


    &:after {
      content: "";
      display: block;
      padding-bottom: 100%;
    }

    .circle-txt {
      position: absolute;
      @include absolute-center;
      width: 100%;
      text-align: center;

    }
  }
}

@include media-breakpoint-down(md) {
  .categories-list--item {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;

    h2 {
      font-weight: 600;
      font-size: 1rem;
      letter-spacing: -0.04em;
      color: $white;
      width: min-intrinsic;
      width: min-content;
    }

    @include on-event {
      text-decoration: none;
    }

    .img-80 {
      width: 150px;
      margin: 0 1rem;
      background-color: white;
      border-radius: 50%;
      height: 150px;
      object-fit: contain;
    }
  }

  .categories-list li:nth-child(odd) .categories-list--item {
    flex-direction: row-reverse;
  }
}
// .favorites-content {
//   &:after, 
//   &:before {
//     content: "";
//     background-color: inherit;
//     z-index: 3;
//     position: absolute;
//     top: 0;
//     bottom: 0;
//     width: 6.6%;
//     @include media-breakpoint-up {
//     top: 5rem;
//     bottom: 5rem;
//     width: 9.2%;
//     }
// }
// &:after {
//   left: 93.3%;
//   @include media-breakpoint-up {
//     left: auto;
//     right: 0;
//   }
// }

// }
.section-favorites {
  background-color: $light-grey;
  margin-bottom: 20rem;

  .section-title {
    width: 80%;
    @include media-breakpoint-down(md)  {
      width: 50%;
    }

  }

  .swiper-container {
    margin-bottom: -15rem;
  //   overflow: visible;
  //   &:before {
  //     content: "";
  //     position: absolute;
  //     top: 0;
  //     bottom: 0;
  //     right: 100%;
  //     width: 100vw;
  //     background-color: inherit;
  //     z-index: 2;
  // }
  }

  .swiper-wrapper {
    padding-bottom: 5rem;
    padding-top: 1rem;
  }

  .swiper-slide {
    @include media-breakpoint-up(md) {
      padding-right:9.2%
    }
    // width: 30%;
    height: auto;
    padding-right: 8.5%;
    .product-card {
      background: #FFFFFF;
      box-shadow: $box-shadow-sm;
      height: calc(100% - 4em);
    }

    @include media-breakpoint-up(lg) {
      .btn-add-to-cart {
        position: absolute;
        bottom: -1.5em;
        opacity: 0;

      }


      @include on-event {
        .btn-add-to-cart {
          animation: fade-in 1.2s cubic-bezier(.39, .575, .565, 1.000) both;
          opacity: 1;
        }
      }
    }

  }

}

.favorites-img-wrapper {
  min-height: 400px;
  display: flex;
  align-items: center;
}

.product-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2em;
  border-radius: $border-radius-sm;
}

.product-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 135%;
  text-align: center;
  letter-spacing: -0.04em;
  color: $black;
  margin-bottom: 1em;

  @include on-event {
    text-decoration: none;
    color: $primary;
  }

  @include media-breakpoint-up(lg) {
    font-size: 19px;
  }
}

.product-price {
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  letter-spacing: 0.005em;
  color: $black;
  margin-bottom: 3em;

  @include media-breakpoint-up(lg) {
    font-size: 25px;
  }
}

.section-brands {
  padding-top: 5rem;
  padding-bottom: 5rem;
  .swiper-container {
    width: 100%;
    height: 100%;
    padding-bottom: 5rem;
  }
  .swiper-wrapper {
    align-items: center;
  }
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }
   img {
    filter: grayscale(1);
  }
  a {
    @include on-event {
      img {
        filter: grayscale(0);
      }
    }
  }
}

.section-home--about {
  padding-bottom: 5rem;
}